<p>
    Welcome to your new demonstration app! We hope you enjoy using the OSF. The following demonstration pages are
    available to showcase sample functionality:
</p>

<ul>
    {{#if session.isAuthenticated}}
        <li>{{#link-to "me"}}User information{{/link-to}} (requires user to be logged in)</li>
    {{else}}
        <li>{{#link-to "login"}}Log in{{/link-to}}</li>
    {{/if}}
</ul>

<h1>Nodes:</h1>
<ul>
    {{#each model.nodes as |node|}}
        <li>
            {{#link-to 'guid' node.id}}
                {{node.title}}
            {{/link-to}}
        </li>
    {{/each}}
</ul>

<h1>Preprints:</h1>
<ul>
    {{#each model.preprints as |preprint|}}
        <li>
            {{#link-to 'guid' preprint.id}}
                {{preprint.node.title}}
            {{/link-to}}
        </li>
    {{/each}}
</ul>